h2 > a {
  display: inline-block;
  color: #ab1c3d;
  text-decoration: none;
  margin-right: 39px;
  width: 0px;
  border-bottom: 1px solid #ab1c3d;
  transition: 0.2s ease-in;
}

h2 > a:hover {
  border-bottom: 2px solid #ab1c3d;
  transition: 0.4s ease-in;
  width: 7rem;
}
